$colors: (
    
  primary: (
    "midnight-green": #014e56,
    "coral": #f67e7e,
    "white": #ffffff,
  ),

  secondary: (
    "rapture-blue": #79c8c7,
    "police-blue": #2c6269,
    "jungle-green": #004047,
    "state-green": #012f34,
    "dark-green": #002529,
  ),

);