@use '../1-helpers/mixins' as *
    
section.about-hero  
    height: 39.2rem
    @include grid('. text-container .')
    text-align: center
    position: relative
    align-content: start
    overflow: hidden

    @include mq(tablet)
        height: 38rem

    @include mq(desktop)
        height: 32.3rem
        grid-template-areas: ". . text-container . ."
        text-align: left

section.about-hero

    .bg-img-container
        width: 20rem
        height: 20rem
        position: absolute
        bottom: 0
        right: 0
        transform: translate(50%, 50%)

        @include mq(tablet)
            transform: translate(50%, 0%)
        
        @include mq(desktop)
            grid-column: 4/5


    .text-container
        grid-area: text-container
        @include flex(column nowrap, flex-start, center)
        margin-top: 3.2rem

        @include mq(tablet)
            margin-top: 4.8rem

        @include mq(desktop)
            @include eflex(row nowrap, space-between, start)
            height: 15.6rem

    h1
        margin-bottom: 1.6rem

        @include mq(tablet)
            margin-bottom: 2.4rem
        @include mq(desktop)
            margin-bottom: 0
            line-height: 10rem

    .info-text-container
        width: 100%
        max-width: 45.7rem


        @include mq(desktop)
            height: 15.6rem
            flex: 1 0 auto
            max-width: 73rem
            @include flex(column nowrap, space-between, start)

            span
                display: block
                width: 5rem
                height: 0.4rem
                background: v(coral)

section.directors
    height: 206.2rem
    position: relative
    overflow: hidden
    background: v(jungle-green)
    padding: 8.8rem 2.4rem

    @include mq(tablet)
        height: 121.9rem

    @include mq(desktop)
        height: 100.2rem

    .directors-grid
        display: grid
        grid-template-columns: 32.7rem
        grid-auto-rows: 25.3rem
        row-gap: 5.2rem
        justify-content: center

        @include mq(tablet)
            grid-template-columns: repeat(2, 28.1rem)
            column-gap: 1.1rem
            row-gap: 4.8rem

        @include mq(desktop)
            grid-template-columns: repeat(3, 35rem)
            grid-auto-flow: row

section.directors

    h2
        text-align: center
        margin-bottom: 4.8rem

        @include mq(tablet)
            grid-column: 1/3
        @include mq(desktop)
            grid-column: 1/4

    .director-card
        width: 100%
        height: 100%
        background: v(state-green)
        position: relative
        @include flex(column nowrap, space-between, center)

        @supports (overflow-x: clip)
            overflow-x: clip

    .director-card__front
        margin-top: 3.2rem
        @include flex(column nowrap, flex-start, center)
        width: 27.9rem
        height: 16.5rem
        opacity: 1
        transition: transform cubic-bezier(.53,.24,.6,.93) 100ms, opacity cubic-bezier(.53,.24,.6,.93) 100ms
        
        &.active
            transform: translate(20%, 0)
            opacity: 0

        @supports (overflow-x: clip)
            &.active
                transform: translate(120%, 0)

        img
            width: 9.6rem
            height: 9.6rem
            border-radius: 50%
            border: 2px solid #C4FFFE
            margin-bottom: 1.4rem

        h3
            color: v(rapture-blue)

        p
            font-style: italic
            font-weight: 500
        
    .director-card__back
        height: 20rem
        position: absolute
        left: 0%
        opacity: 0
        background: inherit
        padding-top: 0.5rem
        width: 23.5rem
        margin-top: 3rem
        text-align: center
        @include flex(column nowrap, flex-start, center)
        transition: all cubic-bezier(.53,.24,.6,.93) 100ms

        @supports (overflow-x: clip)
            left: -75%
        
        &.active
            opacity: 1
            left: 50%
            transform: translate(-50%, 0)

        h3
            margin-bottom: 0.8rem
            color: v(rapture-blue)

        p
            margin-bottom: 2.4rem
        
        .social-icons
            width: 6rem
            height: 2rem
            @include flex(row nowrap, space-between, 0)

    .director-card__button
        width: 5.6rem
        height: 5.6rem
        background: v(coral)
        border-radius: 50%
        position: relative
        transform: translate(0, 50%)
        transition: background 250ms cubic-bezier(.53,.24,.6,.93), transform 250ms cubic-bezier(.53,.24,.6,.93)
        cursor: pointer
        
        &:hover
            background: v(rapture-blue)

        &.active
            transform: translate(0, 50%) rotate(225deg)
            background: v(rapture-blue)


        span
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%) rotate(0)
            height: 0.4rem
            width: 1.6rem
            background: v(state-green)

            &:nth-child(2)
                transform: translate(-50%, -50%) rotate(90deg)


section.directors   
    .bg-img-container.top
        width: 20rem
        height: 20rem
        position: absolute
        left: 0
        top: 0
        transform: translate(-50%,-50%)

        @include mq(tablet)
            transform: translate(-50%, 0%)

        @include mq(desktop)
            left: 50%
            transform: translate(calc(-1440px / 2 - 100px), 0%)

    .bg-img-container.bottom
        width: 14.7rem
        height: 10rem
        position: absolute
        right: 0
        bottom: 0

        @include mq(desktop)
            right: 50%
            transform: translate(calc(1440px / 2), 0%)
            
section.clients
    width: 100%
    height: 63.2rem
    padding-top: 8.8rem
    background: v(state-green)
    position: relative
    overflow-y: hidden

    @include mq(tablet)
        height: 30.8rem
        padding-top: 10rem

    @include mq(desktop)
        height: 43.7rem
        padding-top: 14rem

    .bg-img-container
        position: absolute
        width: 20rem
        height: 20rem
        left: 0
        top: 0
        transform: translate(-50%, -50%)

        @include mq(tablet)
            transform: translate(0, -50%)

        @include mq(desktop)
            left: 50%
            transform: translate(calc(-1440px / 2), 0)



    h2
        text-align: center
        --h2-m-bottom: 6.4rem
        margin-bottom: v(h2-m-bottom)

        @include mq(tablet)
            --h2-m-bottom: 4.8rem

        @include mq(desktop)
            --h2-m-bottom: 6.4rem

    .logo-container
        height: 100%
        display: grid
        grid-template-columns: 3.9rem 1fr 3.9rem
        grid-auto-rows: 2.419rem
        row-gap: 5.7rem
        justify-content: center

        @include mq(tablet)
            grid-template-columns: repeat(5, min-content)
            grid-template-rows: 2.8rem
            grid-auto-rows: auto
            grid-auto-flow: column
            row-gap: 0
            column-gap: 4.9rem
        
        @include mq(desktop)
            column-gap: 8rem

        a
            grid-column: 2/3
            width: 100%
            display: grid
            place-items: center

            @include mq(tablet)
                grid-column: auto

            img
                margin: auto
                filter: red

            &.verge img
                height: 2.419rem
                @include mq(tablet)
                    height: 1.7rem
                @include mq(desktop)
                    height: 2.8rem
            &.jakarta img
                height: 2.419rem
                @include mq(tablet)
                    height: 1.4rem
                @include mq(desktop)
                    height: 2.3rem
            &.guardian img
                height: 2.419rem
                @include mq(tablet)
                    height: 1.7rem
                @include mq(desktop)
                    height: 2.8rem
            &.techradar img
                height: 2.419rem
                @include mq(tablet)
                    height: 1.7rem
                @include mq(desktop)
                    height: 2.8rem
            &.gadgetsnow img
                height: 4rem
                @include mq(tablet)
                    height: 2.8rem
                @include mq(desktop)
                    height: 4.5rem
        





        
