@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root, body, * {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section-heading {
  display: none;
}

.display-none {
  display: none;
}

:root {
  --midnight-green: #014e56;
  --coral: #f67e7e;
  --white: #ffffff;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --jungle-green: #004047;
  --state-green: #012f34;
  --dark-green: #002529;
}

h1.large {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: clamp(4rem, 1.8rem + 6vw, 10rem);
  line-height: clamp(4rem, 7.3vw ,10rem);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h1.large {
    font-size: 6.4rem;
    line-height: 5.6rem;
  }
}
@media screen and (min-width: 1200px) {
  h1.large {
    font-size: 10rem;
    line-height: 10rem;
  }
}
h1.small {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h1.small {
    font-size: 6.4rem;
    line-height: 5.6rem;
  }
}
@media screen and (min-width: 1200px) {
  h1.small {
    font-size: 6.4rem;
    line-height: 10rem;
  }
}
h2 {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}
h3 {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
}

p.body-1 {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
}

p.body-2 {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
}

p.title {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 500;
}

input {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
}

label {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
}

textarea {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
}

p.error-message {
  font-family: "Livvic", sans-serif;
  font-style: italic;
  color: var(--coral);
  font-size: 1.1rem;
  line-height: auto;
  font-weight: bold;
}

a {
  font-family: "Livvic", sans-serif;
  color: var(--white);
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 250ms ease;
}

a:hover {
  color: var(--coral);
}

body {
  background: var(--midnight-green);
  min-width: 37.5rem;
}

body {
  width: 100%;
  height: 100vh;
  margin: auto;
}

button, a.button {
  width: 15.3rem;
  height: 4.8rem;
  font-family: "Livvic", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  outline: none;
  border-radius: 2.4rem;
  transition: all 400ms ease;
  border: none;
  display: grid;
  place-items: center;
}
button:disabled, a.button:disabled {
  opacity: 0.25;
}
button:hover, a.button:hover {
  cursor: pointer;
}
button.primary.light, a.button.primary.light {
  border: 2px solid var(--white);
  background: transparent;
  color: var(--white);
}
button.primary.light:hover:not(:disabled), a.button.primary.light:hover:not(:disabled) {
  background: var(--white);
  color: var(--state-green);
}
button.primary.dark, a.button.primary.dark {
  border: 2px solid var(--state-green);
  color: var(--state-green);
  background: transparent;
}
button.primary.dark:hover:not(:disabled), a.button.primary.dark:hover:not(:disabled) {
  background: var(--state-green);
  color: var(--white);
}
button.secondary, a.button.secondary {
  background: var(--white);
  color: var(--state-green);
}
button.secondary:hover:not(:disabled), a.button.secondary:hover:not(:disabled) {
  background: var(--rapture-blue);
}

header {
  height: 12.8rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2.4rem 1fr 2.4rem;
  grid-template-areas: ". test .";
}
@media screen and (min-width: 768px) {
  header {
    grid-template-columns: 4rem 1fr 4rem;
  }
}
@media screen and (min-width: 1200px) {
  header {
    grid-template-columns: 1fr minmax(0px, 165px) minmax(1000px, 1110px) minmax(0px, 165px) 1fr;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: 17.6rem;
  }
}
@media screen and (min-width: 1200px) {
  header {
    height: 19.4rem;
  }
}
header .header-inner-width-container {
  grid-column: 2/3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  header .header-inner-width-container {
    grid-column: 3/4;
  }
}
header .nav-burger-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transform: translateY(-0.3rem);
  cursor: pointer;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  header .nav-burger-button {
    display: none;
  }
}
header .nav-burger-button .nav-button-line {
  width: 100%;
  height: 3px;
  background: var(--white);
  transform-origin: 0px 1px;
  transform: none;
  transition: 250ms all ease;
  opacity: 1;
}
header .nav-burger-button .nav-button-line:not(:nth-child(3)) {
  margin-bottom: 0.4rem;
}
header .nav-burger-button .nav-button-line.active:nth-child(1) {
  transform: rotate(45deg);
}
header .nav-burger-button .nav-button-line.active:nth-child(2) {
  transform: scale(0.1, 0.1);
  opacity: 0;
}
header .nav-burger-button .nav-button-line.active:nth-child(3) {
  transform: rotate(-45deg);
}
header nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25.5rem;
  background: var(--police-blue);
  padding-top: 11.2rem;
  z-index: 5;
  transform: translate(100%, 0);
  transition: all 250ms ease;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
header nav.active {
  transform: translate(0, 0);
}
@media screen and (min-width: 768px) {
  header nav {
    flex: 1 0 auto;
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    padding-top: 0;
    z-index: 0;
    transform: none;
    transition: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
header .link-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
}
@media screen and (min-width: 768px) {
  header .link-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 auto;
    margin-left: 4.8rem;
  }
}
@media screen and (min-width: 1200px) {
  header .link-container {
    margin-left: 8rem;
  }
}
header .link-container a:nth-child(1) {
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  header .link-container a:nth-child(1) {
    margin-bottom: 0;
    margin-right: 4rem;
  }
}
header .link-container a:nth-child(2) {
  margin-bottom: 3.6rem;
}
@media screen and (min-width: 768px) {
  header .link-container a:nth-child(2) {
    margin-bottom: 0;
  }
}
header .img-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 0%);
}
@media screen and (min-width: 768px) {
  header .img-container {
    display: none;
  }
}
header .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  transform: translate(100%, 0%);
  transition: opacity 250ms ease;
}
@media screen and (min-width: 768px) {
  header .backdrop {
    display: none;
  }
}
header .backdrop.active {
  opacity: 0.5;
  transform: translate(0%, 0%);
}

.call-to-action__pre-footer {
  width: 100%;
  height: 30.2rem;
  background: var(--coral);
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .call-to-action__pre-footer {
    height: 20rem;
  }
}
.call-to-action__pre-footer .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 13.6rem;
  width: 32.7rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .call-to-action__pre-footer .text-container {
    height: 4.8rem;
    width: 57.3rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
  }
}
@media screen and (min-width: 1200px) {
  .call-to-action__pre-footer .text-container {
    width: 91.7rem;
  }
}
.call-to-action__pre-footer .text-container h2 {
  color: var(--state-green);
}
.call-to-action__pre-footer .bg-img-container {
  position: absolute;
  bottom: -2.3rem;
  left: 0;
}
@media screen and (min-width: 1200px) {
  .call-to-action__pre-footer .bg-img-container {
    left: 50%;
    transform: translate(calc(-1440px/2), 0);
  }
}

footer {
  width: 100%;
  height: 43.2rem;
  display: grid;
  place-items: center;
  background: var(--dark-green);
}
@media screen and (min-width: 768px) {
  footer {
    height: 27.1rem;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    height: 19.6rem;
  }
}

footer .inner-container {
  width: 32.7rem;
  height: 30.2rem;
  text-align: center;
  display: grid;
  align-content: space-between;
  grid-template-columns: 1fr;
  grid-template-rows: 2.4rem 2.5rem 11.5rem 2.4rem 2.5rem;
  grid-template-areas: "logo" "nav" "info" "socialIcons" "copyright";
}
@media screen and (min-width: 768px) {
  footer .inner-container {
    text-align: left;
    width: 68.9rem;
    height: 15.9rem;
    align-content: start;
    justify-content: space-between;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 7.7rem 2.5rem 3.3rem 2.4rem;
    grid-template-areas: "logo info" "nav info" ". ." "socialIcons copyright";
  }
}
@media screen and (min-width: 1200px) {
  footer .inner-container {
    width: 111rem;
    height: 10rem;
    align-content: start;
    justify-content: start;
    grid-template-columns: 28.5rem 1fr 1fr;
    grid-template-rows: 4rem 6rem;
    grid-template-areas: "logo info socialIcons" "nav info copyright";
  }
}

footer .inner-container img#logo {
  grid-area: logo;
  width: 9.597rem;
}
@media screen and (min-width: 1200px) {
  footer .inner-container img#logo {
    width: 16rem;
  }
}
@media screen and (min-width: 1200px) {
  footer .inner-container nav {
    align-self: end;
  }
}
footer .inner-container nav a:nth-child(1) {
  grid-area: nav;
  margin-right: 2.4rem;
}
footer .inner-container .contact-info {
  grid-area: info;
  color: var(--white);
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  footer .inner-container .contact-info {
    text-align: right;
  }
}
@media screen and (min-width: 1200px) {
  footer .inner-container .contact-info {
    text-align: left;
    justify-self: start;
    align-self: start;
  }
}
footer .inner-container .social-media-icons {
  grid-area: socialIcons;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
footer .inner-container .social-media-icons .icon-container:not(:nth-last-child(1)) svg {
  margin-right: 1.6rem;
}
footer .inner-container .social-media-icons .icon-container {
  cursor: pointer;
}
footer .inner-container .social-media-icons .icon-container svg:hover path {
  fill: var(--coral);
}
@media screen and (min-width: 768px) {
  footer .inner-container .social-media-icons {
    justify-content: flex-start;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  footer .inner-container .social-media-icons {
    justify-self: end;
    align-self: start;
  }
}
footer .inner-container .copyright {
  grid-area: copyright;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  footer .inner-container .copyright {
    text-align: right;
  }
}
@media screen and (min-width: 1200px) {
  footer .inner-container .copyright {
    justify-self: end;
    align-self: end;
  }
}

section.home-hero {
  position: relative;
  height: 43.9rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2.4rem 1fr 2.4rem;
  grid-template-areas: ". flexContainer .";
  text-align: center;
}
@media screen and (min-width: 768px) {
  section.home-hero {
    grid-template-columns: 4rem 1fr 4rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-hero {
    grid-template-columns: 1fr minmax(0px, 165px) minmax(1000px, 1110px) minmax(0px, 165px) 1fr;
  }
}
@media screen and (min-width: 768px) {
  section.home-hero {
    height: 52.4rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-hero {
    height: 50.6rem;
    grid-template-areas: ". . flexContainer . .";
    text-align: left;
  }
}
section.home-hero .flex-container {
  width: 100%;
  height: 21rem;
  grid-area: flexContainer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.2rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  section.home-hero .flex-container {
    margin-top: 4.8rem;
    min-height: 22rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-hero .flex-container {
    min-height: 20rem;
    margin-top: 5.6rem;
    width: 111rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  section.home-hero .flex-container h1 {
    width: clamp(36.5rem, 36.5rem + 5vw, 95rem);
    margin-bottom: clamp(1px, 1vw , 2rem);
  }
}
@media screen and (min-width: 1200px) {
  section.home-hero .flex-container h1 {
    margin-bottom: 0;
    width: 53rem;
  }
}
section.home-hero .flex-container h1 span {
  color: var(--coral);
}
section.home-hero .flex-container .text-container {
  max-width: 45.7rem;
}
@media screen and (min-width: 1200px) {
  section.home-hero .flex-container .text-container {
    height: 18.9rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 44.5rem;
  }
}
section.home-hero .flex-container span.deco-line {
  width: 5rem;
  height: 0.4rem;
  background: var(--rapture-blue);
}
section.home-hero .img-container.left {
  display: none;
}
@media screen and (min-width: 1200px) {
  section.home-hero .img-container.left {
    display: block;
    grid-column: 3/4;
    position: absolute;
    top: 55px;
    transform: translateX(-132%);
  }
}
section.home-hero .img-container.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0%, 0%);
}
@media screen and (min-width: 1200px) {
  section.home-hero .img-container.bottom {
    grid-column: 3/4;
    left: unset;
  }
}

section.home-features {
  overflow-x: hidden;
  height: 107.3rem;
  background: var(--state-green);
  padding: 6.4rem 2.4rem;
}
@media screen and (min-width: 768px) {
  section.home-features {
    height: 71rem;
    padding: 10rem 9.8rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-features {
    height: 68.4rem;
    padding: 14rem 0;
  }
}
section.home-features .flex-container {
  height: 100%;
  margin: auto;
  width: 100%;
  max-width: 32.7rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  section.home-features .flex-container {
    max-width: 57.2rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-features .flex-container {
    max-width: 111rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
  }
}
section.home-features .flex-container .bg-img-container {
  position: absolute;
  right: calc(-46% + 2.4rem);
  top: calc(0% - 6.4rem);
}
@media screen and (min-width: 768px) {
  section.home-features .flex-container .bg-img-container {
    right: calc(-52% + 9.8rem);
    top: calc(0% - 10rem);
  }
}
@media screen and (min-width: 1200px) {
  section.home-features .flex-container .bg-img-container {
    right: calc(0% - 16.5rem);
    transform: translate(50%, 0);
    top: unset;
    bottom: calc(0% - 14rem);
  }
}
section.home-features .flex-container .heading-container {
  height: 19.6rem;
  width: 20.7rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  section.home-features .flex-container .heading-container {
    width: 44.5rem;
    height: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-features .flex-container .heading-container {
    height: 20.2rem;
    width: 44.5rem;
  }
}
section.home-features .flex-container .heading-container span {
  height: 0.4rem;
  width: 5rem;
  background: var(--coral);
}
section.home-features .flex-container .features {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
  max-height: 69.3rem;
}
@media screen and (min-width: 768px) {
  section.home-features .flex-container .features {
    max-height: 34.6rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-features .flex-container .features {
    height: 34.6rem;
    max-width: 54rem;
    margin-top: 5.8rem;
  }
}
section.home-features .flex-container .feature-card {
  text-align: center;
  flex: 0 0 19.9rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  section.home-features .flex-container .feature-card {
    text-align: left;
    flex: 0 0 9.4rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
section.home-features .flex-container .feature-card .img-container {
  width: 7.2rem;
  height: 7.2rem;
}
@media screen and (min-width: 768px) {
  section.home-features .flex-container .feature-card .img-container {
    margin-right: 2.3rem;
    align-self: start;
  }
}
section.home-features .flex-container .feature-card h3 {
  color: var(--coral);
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 768px) {
  section.home-features .flex-container .feature-card h3 {
    margin-bottom: 1.6rem;
  }
}

section.home-testimonials {
  height: 141rem;
  padding: 14rem 2.4rem 16.2rem;
  text-align: center;
  background: var(--jungle-green);
  position: relative;
}
section.home-testimonials .bg-img-container.top {
  position: absolute;
  left: 0;
  top: 0;
}
section.home-testimonials .bg-img-container.bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  section.home-testimonials {
    height: 119.9rem;
    padding: 10rem 5.4rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-testimonials {
    height: 74.5rem;
    padding: 14rem 0;
  }
  section.home-testimonials .bg-img-container.top {
    left: 50%;
    transform: translate(calc(-1440px/2), 0);
  }
  section.home-testimonials .bg-img-container.bottom {
    right: 50%;
    transform: translate(calc(1440px/2), 0);
  }
}
section.home-testimonials .header-container {
  margin: auto;
  margin-bottom: 4.8rem;
}
section.home-testimonials .header-container span {
  color: var(--rapture-blue);
}
@media screen and (min-width: 768px) {
  section.home-testimonials .header-container {
    max-width: 57.3rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-testimonials .header-container {
    height: 9.6rem;
    margin-bottom: 5.6rem;
    max-width: 93.2rem;
  }
}
section.home-testimonials .testimonials {
  width: 32.7rem;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  section.home-testimonials .testimonials {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: 111rem;
  }
}
section.home-testimonials .testimonials .testimonial {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 27.8rem;
  position: relative;
}
section.home-testimonials .testimonials .testimonial:not(:nth-last-child(1)) {
  margin-bottom: 4.8rem;
}
@media screen and (min-width: 768px) {
  section.home-testimonials .testimonials .testimonial {
    height: 25.3rem;
    width: 57.3rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-testimonials .testimonials .testimonial {
    height: 31.3rem;
    width: 35rem;
  }
}
section.home-testimonials .testimonials .testimonial {
  position: relative;
}
section.home-testimonials .testimonials .testimonial .main-text-container {
  height: 13.6rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.3rem;
}
@media screen and (min-width: 768px) {
  section.home-testimonials .testimonials .testimonial .main-text-container {
    margin-bottom: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  section.home-testimonials .testimonials .testimonial .main-text-container {
    margin-bottom: 2.4rem;
  }
}
section.home-testimonials .testimonials .testimonial .main-text-container .quotation-mark {
  top: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
section.home-testimonials .testimonials .testimonial .main-text-container .quote {
  z-index: 1;
}
section.home-testimonials .testimonials .testimonial h3.name {
  color: var(--rapture-blue);
  margin-bottom: 0.2rem;
}
section.home-testimonials .testimonials .testimonial p.title {
  margin-bottom: 1.4rem;
}
section.home-testimonials .testimonials .testimonial .portrait-container {
  width: 6.2rem;
  height: 6.2rem;
  overflow: hidden;
  border-radius: 50%;
  border: solid 2px #C4FFFE;
  margin: auto;
}
section.home-testimonials .testimonials .testimonial .portrait-container img {
  width: 100%;
}

section.about-hero {
  height: 39.2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2.4rem 1fr 2.4rem;
  grid-template-areas: ". text-container .";
  text-align: center;
  position: relative;
  align-content: start;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  section.about-hero {
    grid-template-columns: 4rem 1fr 4rem;
  }
}
@media screen and (min-width: 1200px) {
  section.about-hero {
    grid-template-columns: 1fr minmax(0px, 165px) minmax(1000px, 1110px) minmax(0px, 165px) 1fr;
  }
}
@media screen and (min-width: 768px) {
  section.about-hero {
    height: 38rem;
  }
}
@media screen and (min-width: 1200px) {
  section.about-hero {
    height: 32.3rem;
    grid-template-areas: ". . text-container . .";
    text-align: left;
  }
}

section.about-hero .bg-img-container {
  width: 20rem;
  height: 20rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
@media screen and (min-width: 768px) {
  section.about-hero .bg-img-container {
    transform: translate(50%, 0%);
  }
}
@media screen and (min-width: 1200px) {
  section.about-hero .bg-img-container {
    grid-column: 4/5;
  }
}
section.about-hero .text-container {
  grid-area: text-container;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.2rem;
}
@media screen and (min-width: 768px) {
  section.about-hero .text-container {
    margin-top: 4.8rem;
  }
}
@media screen and (min-width: 1200px) {
  section.about-hero .text-container {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    height: 15.6rem;
  }
}
section.about-hero h1 {
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  section.about-hero h1 {
    margin-bottom: 2.4rem;
  }
}
@media screen and (min-width: 1200px) {
  section.about-hero h1 {
    margin-bottom: 0;
    line-height: 10rem;
  }
}
section.about-hero .info-text-container {
  width: 100%;
  max-width: 45.7rem;
}
@media screen and (min-width: 1200px) {
  section.about-hero .info-text-container {
    height: 15.6rem;
    flex: 1 0 auto;
    max-width: 73rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: start;
  }
  section.about-hero .info-text-container span {
    display: block;
    width: 5rem;
    height: 0.4rem;
    background: var(--coral);
  }
}

section.directors {
  height: 206.2rem;
  position: relative;
  overflow: hidden;
  background: var(--jungle-green);
  padding: 8.8rem 2.4rem;
}
@media screen and (min-width: 768px) {
  section.directors {
    padding: 10rem 9.8rem 14rem 9.7rem;
    height: 121.9rem;
  }
}
@media screen and (min-width: 1200px) {
  section.directors {
    height: 100.2rem;
    padding: 14rem 0;
  }
}
section.directors .directors-grid {
  display: grid;
  grid-template-columns: 32.7rem;
  grid-auto-rows: 25.3rem;
  row-gap: 5.2rem;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  section.directors .directors-grid {
    grid-template-columns: repeat(2, 28.1rem);
    column-gap: 1.1rem;
    row-gap: 7.6rem;
  }
}
@media screen and (min-width: 1200px) {
  section.directors .directors-grid {
    column-gap: 3rem;
    grid-template-columns: repeat(3, 35rem);
    grid-auto-flow: row;
  }
}

section.directors h2 {
  text-align: center;
  margin-bottom: 4.8rem;
}
@media screen and (min-width: 768px) {
  section.directors h2 {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1200px) {
  section.directors h2 {
    grid-column: 1/4;
    margin-bottom: 6.4rem;
  }
}
section.directors .director-card {
  width: 100%;
  height: 100%;
  background: var(--state-green);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
@supports (overflow-x: clip) {
  section.directors .director-card {
    overflow-x: clip;
  }
}
section.directors .director-card__front {
  margin-top: 3.2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 27.9rem;
  height: 16.5rem;
  opacity: 1;
  transition: transform cubic-bezier(0.53, 0.24, 0.6, 0.93) 100ms, opacity cubic-bezier(0.53, 0.24, 0.6, 0.93) 100ms;
}
section.directors .director-card__front.active {
  transform: translate(20%, 0);
  opacity: 0;
}
@supports (overflow-x: clip) {
  section.directors .director-card__front.active {
    transform: translate(120%, 0);
  }
}
section.directors .director-card__front img {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 50%;
  border: 2px solid #C4FFFE;
  margin-bottom: 1.4rem;
}
section.directors .director-card__front h3 {
  color: var(--rapture-blue);
}
section.directors .director-card__front p {
  font-style: italic;
  font-weight: 500;
}
section.directors .director-card__back {
  height: 20rem;
  position: absolute;
  left: 0%;
  opacity: 0;
  background: inherit;
  padding-top: 0.5rem;
  width: 23.5rem;
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: all cubic-bezier(0.53, 0.24, 0.6, 0.93) 100ms;
}
@supports (overflow-x: clip) {
  section.directors .director-card__back {
    left: -75%;
  }
}
section.directors .director-card__back.active {
  opacity: 1;
  left: 50%;
  transform: translate(-50%, 0);
}
section.directors .director-card__back h3 {
  margin-bottom: 0.8rem;
  color: var(--rapture-blue);
}
section.directors .director-card__back p {
  margin-bottom: 2.4rem;
}
section.directors .director-card__back .social-icons {
  width: 6rem;
  height: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
section.directors .director-card__back .social-icons a:hover path {
  cursor: pointer;
  fill: var(--coral);
}
section.directors .director-card__button {
  width: 5.6rem;
  height: 5.6rem;
  background: var(--coral);
  border-radius: 50%;
  position: relative;
  transform: translate(0, 50%);
  transition: background 250ms cubic-bezier(0.53, 0.24, 0.6, 0.93), transform 250ms cubic-bezier(0.53, 0.24, 0.6, 0.93);
  cursor: pointer;
}
section.directors .director-card__button:hover {
  background: var(--rapture-blue);
}
section.directors .director-card__button.active {
  transform: translate(0, 50%) rotate(225deg);
  background: var(--rapture-blue);
}
section.directors .director-card__button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  height: 0.4rem;
  width: 1.6rem;
  background: var(--state-green);
}
section.directors .director-card__button span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(90deg);
}
section.directors .bg-img-container.top {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  section.directors .bg-img-container.top {
    transform: translate(-50%, 0%);
  }
}
@media screen and (min-width: 1200px) {
  section.directors .bg-img-container.top {
    left: 50%;
    transform: translate(calc(-1440px / 2 - 100px), 0%);
  }
}
section.directors .bg-img-container.bottom {
  width: 14.7rem;
  height: 10rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 1200px) {
  section.directors .bg-img-container.bottom {
    right: 50%;
    transform: translate(calc(1440px / 2), 0%);
  }
}

section.clients {
  width: 100%;
  height: 63.2rem;
  padding-top: 8.8rem;
  background: var(--state-green);
  position: relative;
}
@media screen and (min-width: 768px) {
  section.clients {
    height: 30.8rem;
    padding-top: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  section.clients {
    height: 43.7rem;
    padding-top: 14rem;
  }
}
section.clients .bg-img-container {
  position: absolute;
  width: 20rem;
  height: 20rem;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  section.clients .bg-img-container {
    transform: translate(0, -50%);
  }
}
@media screen and (min-width: 1200px) {
  section.clients .bg-img-container {
    left: 50%;
    transform: translate(calc(-1440px / 2), 0);
  }
}
section.clients h2 {
  text-align: center;
  --h2-m-bottom: 6.4rem;
  margin-bottom: var(--h2-m-bottom);
}
@media screen and (min-width: 768px) {
  section.clients h2 {
    --h2-m-bottom: 4.8rem;
  }
}
@media screen and (min-width: 1200px) {
  section.clients h2 {
    --h2-m-bottom: 6.4rem;
  }
}
section.clients .logo-container {
  height: 100%;
  display: grid;
  grid-template-columns: 3.9rem 1fr 3.9rem;
  grid-auto-rows: 2.419rem;
  row-gap: 5.7rem;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  section.clients .logo-container {
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: 2.8rem;
    grid-auto-rows: auto;
    grid-auto-flow: column;
    row-gap: 0;
    column-gap: 4.9rem;
  }
}
@media screen and (min-width: 1200px) {
  section.clients .logo-container {
    column-gap: 8rem;
  }
}
section.clients .logo-container a {
  grid-column: 2/3;
  width: 100%;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  section.clients .logo-container a {
    grid-column: auto;
  }
}
section.clients .logo-container a img {
  margin: auto;
  filter: red;
}
section.clients .logo-container a.verge img {
  height: 2.419rem;
}
@media screen and (min-width: 768px) {
  section.clients .logo-container a.verge img {
    height: 1.7rem;
  }
}
@media screen and (min-width: 1200px) {
  section.clients .logo-container a.verge img {
    height: 2.8rem;
  }
}
section.clients .logo-container a.jakarta img {
  height: 2.419rem;
}
@media screen and (min-width: 768px) {
  section.clients .logo-container a.jakarta img {
    height: 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  section.clients .logo-container a.jakarta img {
    height: 2.3rem;
  }
}
section.clients .logo-container a.guardian img {
  height: 2.419rem;
}
@media screen and (min-width: 768px) {
  section.clients .logo-container a.guardian img {
    height: 1.7rem;
  }
}
@media screen and (min-width: 1200px) {
  section.clients .logo-container a.guardian img {
    height: 2.8rem;
  }
}
section.clients .logo-container a.techradar img {
  height: 2.419rem;
}
@media screen and (min-width: 768px) {
  section.clients .logo-container a.techradar img {
    height: 1.7rem;
  }
}
@media screen and (min-width: 1200px) {
  section.clients .logo-container a.techradar img {
    height: 2.8rem;
  }
}
section.clients .logo-container a.gadgetsnow img {
  height: 4rem;
}
@media screen and (min-width: 768px) {
  section.clients .logo-container a.gadgetsnow img {
    height: 2.8rem;
  }
}
@media screen and (min-width: 1200px) {
  section.clients .logo-container a.gadgetsnow img {
    height: 4.5rem;
  }
}

main.contact {
  overflow: hidden;
  height: 100.4rem;
}
@media screen and (min-width: 768px) {
  main.contact {
    height: 102.8rem;
  }
}
@media screen and (min-width: 1200px) {
  main.contact {
    height: 59.5rem;
  }
}

section.form-container {
  height: 100%;
  position: relative;
  max-width: 111rem;
}
@media screen and (min-width: 1200px) {
  section.form-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    margin: auto;
  }
}
section.form-container .bg-img-container {
  position: absolute;
  transition: all 250ms ease;
}
section.form-container .bg-img-container img {
  width: 100%;
  height: 100%;
}
section.form-container .bg-img-container.top {
  top: 0;
  left: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  section.form-container .bg-img-container.top {
    display: block;
    left: 50%;
    transform: translate(calc(-76.5rem / 2 - 10rem), 0);
  }
}
@media screen and (min-width: 1200px) {
  section.form-container .bg-img-container.top {
    transform: translate(calc(-144rem / 2 - 10rem), 0);
  }
}
section.form-container .bg-img-container.bottom {
  width: 20rem;
  height: 22.5rem;
  bottom: 3.2rem;
  right: 0;
  transform: translate(50%, 50%);
}
@media screen and (min-width: 768px) {
  section.form-container .bg-img-container.bottom {
    bottom: 4.8rem;
    transform: translate(50%, 0rem);
  }
}
@media screen and (min-width: 1200px) {
  section.form-container .bg-img-container.bottom {
    bottom: 0;
    right: -6.4rem;
    transform: translate(100%, 0rem);
  }
}
section.form-container .info-text {
  width: 32.7rem;
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  section.form-container .info-text {
    width: 51.5rem;
  }
}
@media screen and (min-width: 1200px) {
  section.form-container .info-text {
    text-align: left;
  }
}
section.form-container .info-text h1 {
  margin: 3.2rem 0 1.6rem;
}
@media screen and (min-width: 768px) {
  section.form-container .info-text h1 {
    margin: 4.8rem 0 2.4rem;
  }
}
@media screen and (min-width: 1200px) {
  section.form-container .info-text h1 {
    margin: 0 0 1.6rem;
    line-height: 10rem;
  }
}
section.form-container .info-text h2 {
  color: var(--coral);
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  section.form-container .info-text h2 {
    margin-bottom: 2.4rem;
  }
}
section.form-container .info-text .asking-pointer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;
  text-align: left;
}
section.form-container .info-text .asking-pointer:not(:nth-last-child(1)) {
  margin-bottom: 2.4rem;
}
section.form-container .info-text .asking-pointer:nth-last-child(1) {
  margin-bottom: 5.6rem;
}
section.form-container .info-text .asking-pointer p {
  flex: 1 0 auto;
  max-width: 23.2rem;
}
@media screen and (min-width: 768px) {
  section.form-container .info-text .asking-pointer p {
    max-width: none;
    margin-left: 2.3rem;
  }
}
section.form-container .info-text .asking-pointer .img-container {
  width: 7.2rem;
  height: 7.2rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 32.7rem;
  margin: auto;
}
@media screen and (min-width: 768px) {
  form {
    max-width: 54.2rem;
  }
}
form input,
form textarea {
  outline: none;
  border: none;
  background: none;
}
form .form-item {
  position: relative;
  width: 32.5rem;
  border-bottom: 1px white solid;
  margin-bottom: 2.4rem;
  transition: margin 150ms ease-in-out;
}
@media screen and (min-width: 768px) {
  form .form-item {
    width: 54.2rem;
  }
}
form .form-item .error-message {
  position: absolute;
  left: 1.4rem;
  bottom: -2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
form .form-item .error-message.show-error {
  opacity: 1;
}
form .form-item.any-error {
  margin-bottom: 3.8rem;
}
form .form-item span {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  z-index: 10;
  background: var(--rapture-blue);
  transform: scaleX(0);
  transition: transform 150ms ease-in-out, background 150ms ease-in-out;
  transform-origin: 0 0;
}
form .form-item span.error {
  background: var(--coral);
  transform: scaleX(1);
}
form .form-item:focus-within span {
  transform: scaleX(1);
}
form .form-item input, form .form-item textarea {
  position: relative;
  width: 100%;
  display: block;
  color: var(--white);
  height: 4.2rem;
  padding-left: 1.4rem;
}
form .form-item input::placeholder {
  color: #99B8BB;
}
form .form-item input:focus-within + label {
  transform: scale(0.7, 0.7) translate(-7rem, 1.3rem);
}
form .form-item input:focus-within + label.companyName {
  transform: scale(0.7, 0.7) translate(-10rem, 1.3rem);
}
form .form-item input:not(:placeholder-shown):not(:focus-within) + label {
  opacity: 0;
}
form .form-item input:invalid {
  color: var(--coral);
  opacity: 0.6;
}
form .form-item textarea {
  height: 8.4rem;
}
form .form-item textarea:focus-within + label {
  transform: scale(0.7, 0.7) translate(-2rem, -9rem);
}
form .form-item textarea:not(:placeholder-shown):not(:focus-within) + label.textarea-label {
  opacity: 0;
}
form .form-item label.textarea-label {
  transform: translate(0rem, -4.9rem);
}
form .form-item label {
  position: absolute;
  bottom: 1.8rem;
  left: 1.4rem;
  transition: transform 150ms ease-in-out;
  color: #99B8BB;
}
form button {
  align-self: flex-start;
}

.contact-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  place-items: center;
  user-select: none;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.contact-modal .inner-container {
  height: 30rem;
  width: 80%;
  max-width: 36.5rem;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  transform: translate(-30%, 0);
  transition: transform 250ms ease-in-out;
}
.contact-modal .text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: var(--dark-green);
  z-index: 5;
  padding: 0 5rem;
  text-align: center;
}
.contact-modal .text-container h2 {
  color: var(--coral);
}
.contact-modal .text-container h3 {
  font-weight: 500;
}
.contact-modal .text-container *:not(:nth-last-child(1)) {
  margin-bottom: 3rem;
}
.contact-modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-green);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.contact-modal .bg-img-container {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate(-50%, 0);
}
.contact-modal .bg-img-container img {
  height: 100%;
  width: 100%;
}
.contact-modal.display-true {
  display: grid;
}
.contact-modal.active {
  opacity: 1;
  user-select: auto;
}
.contact-modal.active .overlay {
  opacity: 0.6;
  z-index: -1;
}
.contact-modal.active .inner-container {
  transform: translate(0, 0);
}

/*# sourceMappingURL=main.css.map */
